body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

nav{
    background-color: rgb(255, 255, 255);
}

.menu {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    vertical-align: middle;
}

.logo {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    vertical-align: middle;
}

.search-container {
    display: inline-block;
    padding: 0px 480px;    
}
    
.search-input {
    vertical-align: middle;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.search-button {
    vertical-align: middle;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-lateral {
    display: inline-block;
}

#video, #bell, #avatar {
    vertical-align: middle;
}

#principal {
    float: left;
    margin: 30px 0px 0px 0px;
    padding-left: 60px;
}

#title {
    float: left;
    margin-top: 16px;
    margin-left: 60px;
    font-size: 20px;
    font-family: system-ui, 'Segoe UI', 'Roboto';
}

#logochannel {
    float: left;
    margin-left: 30px;
    padding-left: 30px;
}

.recommend {
    margin: 30px;
    float: top right;
}